<h1>Welcome to Rock, Paper, Scissors!</h1>

<ul>
  <li>
    <a href="/play/rock">Play Rock</a>
  </li>

  <li>
    <a href="/play/paper">Play Paper</a>
  </li>

  <li>
    <a href="/play/scissors">Play Scissors</a>
  </li>
</ul>

<h1>Game#rps</h1>
<p>Find me in app/views/game/rps.html.erb</p>

<p>You played <%= @user_move %>!</p>

<p>The computer played <%= @computer_move %>!</p>

<p>You <%= @result %>!</p>
